<section class="container">
  <div class="row">
    <div class="col-lg-6">
      <p id="welcome-text">Una forma sencilla para buscar y reportar objetos perdidos en el Instituto Tecnológico Superior de Ciudad Hidalgo.</p>
      <img src="assets/logos/AppLogo.png" alt="Lost Objects Web" width="512" height="512" class="mb-5 mt-1" id="app-logo">
    </div>
    <div class="col-lg-6 mt-5">
      <section class="login">
        <h3 class="mb-5">Inicio de sesión</h3>
        <div class="mb-3">
          <label for="loginEmail" class="form-label">Correo electrónico:</label>
          <input type="email" class="form-control" id="loginEmail" placeholder="example@example.com" [(ngModel)]="loginEmail"/>
        </div>
        <div class="mb-3">
          <label for="loginPassword" class="form-label">Contraseña:</label>
          <input type="password" class="form-control mb-3" id="loginPassword" placeholder="Contraseña" [(ngModel)]="loginPassword"/>
          <div id="forgot-password">
            <button class="btn btn-link" (click)="goToForgotPassword()">Olvidé mi contraseña</button>
          </div>
        </div>
        <button *ngIf="!isLoading; else loading" type="submit" class="btn btn-primary mb-4" (click)="emailAndPasswordLogin()">Ingresar</button>
        <p>O inicia sesión usando:</p>
        <img src="assets/icons/GoogleIcon.png" alt="Google" width="48" height="48" class="mb-4" id="btn-google" (click)="googlePopupLogin()"/>
        <p>¿No tienes cuenta?</p>
        <button class="btn btn-link" (click)="goToRegister()">Regístrate aquí</button>
      </section>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="spinner-border text-primary" role="status"></div>
</ng-template>
