section {
  padding-top: 30pt;
  padding-bottom: 30pt;
}

section.login {
  text-align: center;
  background-color: #dbe8ff;
  border-radius: 20pt;
  padding-inline: 20pt;
}

#welcome-text {
  font-size: 1.5rem;
}

#forgot-password {
  text-align: end;
}

#btn-google {
  cursor: pointer;
}

#app-logo {
  max-width: 100%;
  height: auto;
}
