<nav class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <img ngSrc="{{logoTecNM}}" alt="Tecnológico Nacional de México" width="128" height="58" />
      &nbsp;
      <img ngSrc="{{logoITSCH}}" alt="ITSCH" height="60" width="48" />
    </div>
    <div class="col-lg-5">
      <h1 (click)="goToHome()">{{title}}</h1>
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-toolbar" (click)="goToExplorer()">
        <i class="fi fi-br-search"></i>
        &nbsp;
        Explorar
      </button>
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-toolbar" (click)="goToReport()">
        <i class="fi fi-sr-megaphone d-inline"></i>
        &nbsp;
        Reportar objeto
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <p>Íconos: <a href="https://www.flaticon.es" target="_blank">Flaticon</a></p>
  <p>Imágenes: <a href="https://www.freepik.es" target="_blank">Freepik</a></p>
  <address>Ciudad Hidalgo, Michoacán de Ocampo.</address>
</footer>
