.card-img {
  max-width: 90%;
  height: auto;
}

.card-img-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-all {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
  .grid-all {
    grid-template-columns: 1fr;
  }
}
