<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-lg-12 text-center">
      <button type="button" class="btn btn-toolbar d-inline" (click)="goToHome()">
        <i class="fi fi-rr-home"></i>
        &nbsp;
        Inicio
      </button>
      <button type="button" class="btn btn-toolbar d-inline" (click)="goToMyReports()">
        <i class="fi fi-rr-file-invoice"></i>
        &nbsp;
        Mis reportes
      </button>
      <!-- Botón que activa la alerta -->
      <button type="button" class="btn btn-toolbar d-inline" data-bs-toggle="modal" data-bs-target="#confirmModal">
        <i class="fi fi-rr-sign-out-alt"></i>
        &nbsp;
        Salir
      </button>

      <!-- Modal de confirmación -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">CERRAR SESIÓN</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              ¿Estás seguro de que desea cerrar la sesión actual?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signOut()">Aceptar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-6 mb-3 img-content">
      <img id="img-user" src="assets/icons/default_user_photo.png"  alt="usuario" title="Foto de usuario">
    </div>
    <div class="col-lg-6 mb3">
      <section id="edit-user-form">
        <div class="text-center"><h3>Editar perfil</h3></div>
        <label for="nameEdit" class="form-label">Nombre(s):</label>
        <input type="text" name="nameEdit" id="nameEdit" class="form-control mb-2" value="{{userData.name}}" [(ngModel)]="userData.name"/>
        <label for="lastName1Edit" class="form-label">Primer apellido:</label>
        <input type="text" name="lastName1Edit" id="lastName1Edit" class="form-control mb-2" value="{{userData.lastName1}}" [(ngModel)]="userData.lastName1"/>
        <label for="lastName2Edit" class="form-label">Segundo apellido (opcional):</label>
        <input type="text" name="lastName2Edit" id="lastName2Edit" class="form-control mb-2" value="{{userData.lastName2}}" [(ngModel)]="userData.lastName2"/>
        <label for="telEdit" class="form-label">Teléfono:</label>
        <input type="tel" name="telEdit" id="telEdit" class="form-control mb-2" value="{{userData.phoneNumber}}" [(ngModel)]="userData.phoneNumber"/>
        <label for="emailEdit" class="form-label">Correo electrónico:</label>
        <input type="email" name="emailEdit" id="emailEdit" class="form-control mb-4" value="{{auth.currentUser?.email}}" disabled/>
        <div class="text-center"><button type="button" *ngIf="!isLoading; else loading" class="btn btn-primary" (click)="submitChanges()">Guardar cambios</button></div>
      </section>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-border text-primary" role="status"></div>
</ng-template>
