#recovery-pass {
  text-align: center;
  background-color: #dbe8ff;
  border-radius: 20pt;
  padding-inline: 20pt;

  p {
    font-size: 1.3rem;
    font-family: "My Tahoma", serif;
  }
}

#picture-forgot-password {
  max-width: 100%;
  height: auto;
}
