<section class="container">
  <h4 class="mt-4 mb-3">Bienvenido(a) {{auth.currentUser?.displayName}}!</h4>
  <div class="row mb-3">
    <div class="col-lg-12 actions">
      <button type="button" class="btn btn-toolbar d-inline" (click)="goToProfile()">
        <i class="fi fi-rr-user"></i>
        &nbsp;
        Mi perfil
      </button>
      <button type="button" class="btn btn-toolbar d-inline" (click)="goToReports()">
        <i class="fi fi-rr-file-invoice"></i>
        &nbsp;
        Mis reportes
      </button>
      <!-- Botón que activa la alerta -->
      <button type="button" class="btn btn-toolbar d-inline" data-bs-toggle="modal" data-bs-target="#confirmModal">
        <i class="fi fi-rr-sign-out-alt"></i>
        &nbsp;
        Salir
      </button>

      <!-- Modal de confirmación -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">CERRAR SESIÓN</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
              ¿Estás seguro de que desea cerrar la sesión actual?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signOut()">Aceptar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <h4>Objetos encontrados recientemente</h4>
    <div class="overflow-auto" style="width: 100%; height: 50%;">
      <div class="d-flex">

        <div *ngFor="let foundObject of foundObjects | async">
          <div class="card" style="width: 20rem">
            <div class="img-object">
              <img src="{{foundObject.imageUrl}}" class="card-img-top" alt="Objeto" title="Objeto">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{foundObject.title}}</h5>
              <p class="card-text">{{foundObject.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ubicación: {{foundObject.location}}</li>
              <li class="list-group-item">Fecha: {{foundObject.date}}</li>
              <li class="list-group-item">Publicado por: {{foundObject.username}}</li>
            </ul>
            <div class="card-body">
              Contactar por:&nbsp;
              <a href="https://wa.me/{{foundObject.phoneNumber}}?text={{encodeURIComponent(messageObject)}}" class="card-link" target="_blank">WhatsApp</a>
              <a [href]="'tel:' + foundObject.phoneNumber" class="card-link">Llamada</a>
              <a [href]="'sms:' + foundObject.phoneNumber" class="card-link">Mensaje</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h4>Objetos perdidos recientemente</h4>
    <div class="overflow-auto" style="width: 100%; height: 50%">
      <div class="d-flex">

        <div *ngFor="let lostObject of lostObjects | async">
          <div class="card" style="width: 20rem">
            <div class="img-object">
              <img src="{{lostObject.imageUrl}}" class="card-img-top" alt="Objeto" title="Objeto">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{lostObject.title}}</h5>
              <p class="card-text">{{lostObject.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ubicación: {{lostObject.location}}</li>
              <li class="list-group-item">Fecha: {{lostObject.date}}</li>
              <li class="list-group-item">Publicado por: {{lostObject.username}}</li>
            </ul>
            <div class="card-body">
              Contactar por:&nbsp;
              <a href="https://wa.me/{{lostObject.phoneNumber}}?text={{encodeURIComponent(messageObject)}}" class="card-link" target="_blank">WhatsApp</a>
              <a [href]="'tel:' + lostObject.phoneNumber" class="card-link">Llamada</a>
              <a [href]="'sms:' + lostObject.phoneNumber" class="card-link">Mensaje</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
